@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #welcome-card {
        transition: 1s ease-in-out;
        opacity: 0;
        width: 300px;
        height: 420px;
        background: rgba(73, 73, 73, 0.43);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        border-radius: 10px 10px 10px 10px;
    }
    .footer {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #not {
        width: 300px;
        height: 200px;
        background: rgba(73, 73, 73, 0.43);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        border-radius: 10px 10px 10px 10px;
        animation: opacity 1s ease-in-out;
        animation-duration: 1;
    }
    input {
        width: 200px;
        height: 40px;
        text-indent: 5px;
        outline: none;
        background-color: rgb(31, 30, 30);
        color: wheat;
        font-size: 12px;
        letter-spacing: 1px;
        border: 1px;
    }
    .mute {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 70%;
        left: 50%;
        width: 250px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        color: rgb(145, 139, 139);
        font-size: 10px;
        letter-spacing: 1px;
    }
    #show-me {
        opacity: 0;
        transition: 1s ease-in-out;
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        width: 350px;
        height: 70px;
        background-color: rgb(245, 44, 9);
        animation: opacity 1s ease-in-out;
        animation-duration: 1;
    }
    .load-message {
        width: 350px;
        animation: tostr-loading 2s ease-in-out;
        animation-duration: 1;
    }
    @keyframes tostr-loading {
        from {
            width: 0px;
            border-bottom: 3px solid whitesmoke;
        }
        to {
            width: 350px;
            border-bottom: 3px solid whitesmoke;
        }
    }
}